.navbar {

    @media screen and (max-width: 600px) {}

    // Tablet
    @media screen and (min-width: 600px) and (max-width: 850px) {}

    // Desktop
    @media screen and (min-width: 850px) and (max-width: 1100px) {}

    // Large screens
    @media screen and (min-width: 1100px) {}
}

.dashboard {
    height: calc(100vh - 130px);
}

.AboutMe {
    height: calc(100vh - 130px);
}

.skills {
    height: 100%;
}